.active-tag-box {
  display: inline-block;
  color: #5CB85C;
  padding: 0.6rem 0.9rem;
  border-bottom: 2px solid #5CB85C;
}

.tag-box{
  display: inline-block;
  padding: 0.6rem 0.9rem;
  color: #aaa;
}

.tag-box:hover {
  color: #555;
  cursor: pointer;
}

