
.article-post {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.4em 0;
}

.feeds-display-container {
  display: flex;
  justify-content: space-between;
}

.avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 0.6em;
}

.user-info {
  display: flex;
  align-items: center;
}

.post-user_name {
  display: flex;
  flex-direction: column;
}

.post-name {  
  color: #5CB85C;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.post-name:hover {
  text-decoration: underline;
  color: #49a149;
}

.post-date {
  font-size: 0.7rem;
  color: #bbb;
}

.favourite-btn {
  display: flex;
  background-color: #fff;
  align-items: center;
  border: 1px solid #5CB85C;
  border-radius: 0.3em;
  padding: 0.35em 0.5em;
}

.favourite-btn:hover {
  background-color: #5CB85C;
  cursor: pointer;
}

.favourite-btn > * {
  color: #5CB85C;
  margin: 0;
}

.favourite-btn:hover .fav{
  color: #fff;
}

.favourite-btn:hover .favourite-counter {
  color: #fff;
}

.fav {
  margin-right: 5px;
  cursor: pointer;
}

.post-title {
  font-weight: 600;
  font-size: 1.5rem;
}

.post-preview {
  color: #bbb;
  padding-bottom: 15px
}

.article-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article-footer small {
  color: #bbb;
  font-size: 0.7em;
}

.article-footer ul {
  display: inline-block;
}