.tag-button {
  display: inline-block;
  color: #fff;
  background-color: #818a91;
  font-size: 0.85rem;
  padding: 2px 7px;
  border-radius: 1.5em;
  margin: 0 5px 5px 0;
}

.tag-button:hover {
 background-color: #687077;
 cursor: pointer;
}