.form-display{ 
  padding: 0 6.3rem;
}


.article-title-input {
  font-size: 1.1rem;
  padding: 0.85em 1.4em;
}

.article-title-input::placeholder {
  font-size: 1.1rem;
  color: rgba(0,0,0,0.7);
  font-weight: 600;
}

.article-desc-input {
  font-size: 0.9rem;
  padding: 0.7em 1em;
}

.article-desc-input::placeholder {
  color: rgba(0,0,0,0.7);
  font-size: 0.9rem;
}

.article-textarea {
  letter-spacing: -1px;
  height: 200px;
}

.grid-form {
  display: grid;
}